@font-face {
    font-family: "myFirstFont";
    src: url("/font/Game\ of\ Thrones\ 2.ttf");
}

.main-nav {
    font-family: "myFirstFont";
    background-color: rgba(256, 256, 256, 0.8);
    position: relative;
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
    font-size: larger;
    z-index: 1;
    box-sizing: border-box;
}

.menu-bar {
    padding-top: 12px;
}

.dropdown-content {
    display: none;
    position: relative;
    right: 380px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    position: absolute;
    display: inline-block;
}

.dropdown:hover .dropbtn {
    background-color: #460b0b;
    color: white;
}

.container {
    background: white;
    margin: auto;
    padding: 15px;
    position: relative;
    width: 1140px;

}

.name {
    font-family: "myFirstFont";
    size: 30px;
    font-weight: 550;
}

.house {
    font-family: "myFirstFont";
    font-size: 10px;
}

.bio {
    background-color: rgb(158, 62, 62);
    border: 5px solid;
    border-color: rgb(87, 77, 77);
    border-radius: 25px;
    padding: 2px;
    position: relative;
    text-align: top;
    height: 125px;
    width: 600px;
    font-family: "myFirstFont";
    font-size: 12px;
    box-shadow: 5px 5px 3px rgb(119, 45, 45);
}

.table {
    position: relative;
    background-color: rgb(158, 62, 62);
}



input[type=button] {
    background-color: rgb(117, 95, 95);
    border: 2px;
    border-radius: 10px;
    cursor: url(/img/cursorDragon.png), auto;
    font-family: "myFirstFont";
    font-size: 10px;
    padding: 5px 15px;
    margin: 4px 2px;
    box-shadow: 5px 5px 3px rgb(119, 45, 45);
}


footer img {
    position: inline;
    width: 20px;
    height: 20px;
    opacity: 0.9;
    right: 1000px;
    padding-right: 10px;
}

.footer {
    background-color: rgb(171, 172, 172);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    padding: 10px 0 20px 30px;
    position: relative;
}