@font-face {
  font-family: "myFirstFont";
  src: url("/font/Game\ of\ Thrones\ 2.ttf");
}

html {
  background: url("/extrapictures/got-map.jpg") no-repeat center center fixed;
  margin: 0 auto;
  width: 1140px;
  background-size: cover;
}

table,
tr,
td {
  border: 3px;
  border-color: rgba(122, 119, 122, 0.699);
  border-style: outset;
  font-size: 1.25em;
  font-weight: 500;
  margin: auto;
  padding: 0.25em;
  text-align: center;

}

h1 {
  color: rgb(236, 236, 236);
  font-family: "myFirstFont";
  size: 100px;
  text-align: center;
  text-shadow: 10px;
}

.container__main {
  background: rgba(255, 255, 255, 0.562);
  border-radius: 4px;
  margin: auto;
  margin-top: 5em;
  padding: 2em;
  width: 35em;
}