@font-face {
    font-family: "myFirstFont";
    src: url("/font/Game\ of\ Thrones\ 2.ttf");
  }
  
  .main-nav {
    font-family: "myFirstFont";
    background-color: rgba(256, 256, 256, 0.8);
    position: relative;
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
    font-size: larger;
    z-index: 1;
    box-sizing: border-box;
  }
  
  .menu-bar {
    padding-top: 12px;
  }
  
  .logo {
    width: 150px;
  }
  
  .video {
    position: relative;
    top: 150px;
    left: 280px;
    z-index: 0;
  }
  
  .video-main {
    position: relative;
    top: 150px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background: whitesmoke;
    margin: 0;
  }
  
  .menu {
    float: left;
    text-decoration: none;
    vertical-align: bottom;
    width: 20%;
  }
  
  .menu:link {
    color: teal;
  }
  
  .menu:visited {
    color: rgb(0, 54, 54);
  }
  
  .menu:hover {
    background-color: rgb(129, 129, 129);
    color: white
  }
  
  .logo:hover {
    background-color: rgba(256, 256, 256, 0.1);
  }
  
  .trailer {
    background: rgba(128, 128, 128, 0.614);
    border-radius: 4px;
    position: absolute;
    top: 580px;
    right: 170px;
    width: 300px;
    height: 50px;
    font-family: "myFirstFont";
    padding: 17px 34px;
    box-sizing: border-box;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-decoration: none;
    color: white;
  }
  
  .trailer:hover {
    background-color: rgba(156, 158, 160, 0.801);
    color: black;
    text-decoration: none;
  }
  
  footer img {
    position: inline;
    width: 20px;
    height: 20px;
    opacity: 0.9;
    right: 1000px;
    padding-right: 10px;
  }
  
  .footer {
    padding: 10px 0 20px 30px;
    position: relative;
    top: 200px;
    background-color: rgb(171, 172, 172);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    right: 380px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #460b0b;
    color: white;
  }
  
  .img {
    margin-top: 70px;
    width: 100%;
  }
  
  .dead-alive {
    color: white;
    position: absolute;
    top: 435px;
    font-family: "Montserrat", sans-serif;
    right: 480px;
  }