@font-face {
  font-family: "myFirstFont";
  src: url("/font/Game\ of\ Thrones\ 2.ttf");
}

.main-nav {
  background-color: rgba(256, 256, 256, 1);
  box-sizing: border-box;
  font-family: "myFirstFont";
  font-size: larger;
  letter-spacing: 3px;
  position: fixed;
  text-align: center;
  width: 1140px;
  z-index: 1;
}

.menu-bar {
  padding-top: 12px;
}

.logo {
  width: 150px;
}

.video {
  margin-left: 120px;
  position: relative;
  top: 150px;
  z-index: 0;
}

.video-main {
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-align: center;
  top: 150px;
}

body {
  background: whitesmoke;
  margin: auto;
  width: 1140px;

}

.menu {
  float: left;
  text-decoration: none;
  vertical-align: bottom;
  width: 20%;
}

.menu:link {
  color: teal;
}

.menu:visited {
  color: rgb(0, 54, 54);
}

.menu:hover {
  background-color: rgb(129, 129, 129);
  color: white
}

.logo:hover {
  background-color: rgba(256, 256, 256, 0.1);
}

.trailer {
  background: rgba(128, 128, 128, 0.614);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  font-family: "myFirstFont";
  height: 50px;
  padding: 17px 34px;
  position: absolute;
  right: 200px;
  top: 540px;
  letter-spacing: 2px;
  text-decoration: none;
  word-spacing: 4px;
  width: 300px;
}

.trailer:hover {
  background-color: rgba(156, 158, 160, 0.801);
  color: black;
  text-decoration: none;
}

footer img {
  height: 20px;
  opacity: 0.9;
  position: inline;
  padding-right: 10px;
  right: 1000px;
  width: 20px;
}

.footer {
  background-color: rgb(171, 172, 172);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 10px 0 20px 30px;
  position: relative;
  top: 200px;
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: 160px;
  position: relative;
  right: 240px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
  position: absolute;
}

.dropdown:hover .dropbtn {
  background-color: #460b0b;
  color: white;
}

.img {
  margin-top: 70px;
  width: 100%;
}

.dead-alive {
  color: white;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 470px;
  top: 350px;
}

.container {
  color: black;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-top: 50px;
  text-align: center;
  float: left;
  width: 50%;
}

div table {
  position: relative;
  margin: auto
}